@media only screen and (max-width : 767px) {
	.spinner {
		margin: -70px auto 0 -40px;
	}

	.ptb-100 {
		padding-top: 55px;
		padding-bottom: 55px;
	}
	p {
		font-size: 14px;
	}
	.btn {
		font-size: 13px;
		padding: 13px 30px;
	}
	img {
		width: 100%;
	}
	.section-title span {
		font-size: 14px;
	}
	.section-title h3 {
		font-size: 23px;
		max-width: 100%;
		line-height: 31px;
		margin-top: 15px;
		margin-bottom: 20px;
	}
	.section-title .read-more-btn {
		display: none;
	}
	.form-control {
		height: 45px;
		font-size: 14px;
		padding: 11px 14px;
	}
	.form-group {
		margin-bottom: 10px;
	}
	
	.header-area {
		text-align: center;
	}
	.header-area .header-info {
		display: none;
	}
	.header-area .social-links li a {
		margin-left: 6px;
		font-size: 14px;
    }
	
	.main-banner {
		height: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.hero-content h1 {
		font-size: 30px;
		line-height: 1.3;
	}
	.hero-content h1 span::after {
		bottom: 7px;
		height: 8px;
	}
	.hero-content p {
		margin-bottom: 30px;
		margin-top: 20px;
		font-size: 16px;
	}
	.hero-content .btn {
		margin-right: 10px;
	}
	.video-btn {
		padding-right: 35px;
		font-size: 13px;
	}
	.video-btn i {
		margin-left: 10px;
		font-size: 27px;
		bottom: -4px;
	}
	.hero-image {
		position: relative;
		right: 0;
		bottom: 0;
		width: 100%;
		margin-top: 35px;
		padding: 0 15px;
	}
	
	.main-banner-two {
		height: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.main-banner-two .hero-content {
		margin-top: 40px;
	}
	.main-banner-two .banner-image {
		margin-top: 0;
	}
	.banner-image {
		margin-top: 50px;
	}
	
	.main-banner-three {
		height: 100%;
		padding-bottom: 110px;
		padding-top: 50px;
	}
	.main-banner-three .banner-image {
		margin-top: 0;
		margin-bottom: 40px;
	}
	.owl-theme .owl-nav [class*="owl-"] {
		top: auto;
		bottom: 35px;
	}
	
	.main-banner-four {
		height: 100%;
		padding-top: 50px;
		padding-bottom: 110px;
	}
	.main-banner-four .banner-image {
		margin-top: 0;
		margin-bottom: 40px;
	}
	
	.single-box {
		padding: 15px;
		margin-bottom: 30px;
	}
	.single-box .icon {
		width: 70px;
		height: 70px;
		font-size: 30px;
		line-height: 70px;
	}
	.single-box h3 {
		font-size: 19px;
		margin-bottom: 15px;
		margin-top: 25px;
	}
	.about-image {
		margin-top: 30px;
	}
	.about-text {
		margin-top: 50px;
		padding-left: 0;
	}
	.about-text span {
		font-size: 14px;
	}
	.about-text h3 {
		font-size: 23px;
		margin: 15px 0 20px;
		line-height: 30px;
	}
	.about-text p {
		margin-bottom: 15px;
	}
	.circle-pattern-2 {
		top: -10px;
		bottom: auto;
	}
	.rocket {
		display: none;
	}
	.vector {
		display: none;
	}
	
	.page-title {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.page-title h3 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.page-title ul li {
		font-size: 15px;
	}
	
	.services-area {
		padding-bottom: 25px;
	}
	.single-services {
		padding: 15px;
	}
	.single-services .icon {
		width: 70px;
		height: 70px;
		font-size: 35px;
		line-height: 71px;
	}
	.single-services h3 {
		font-size: 19px;
		margin-bottom: 15px;
		margin-top: 25px;
	}
	.read-more-btn {
		font-size: 14px;
	}
	
	.services-box {
		padding: 15px;
	}
	.services-box .icon {
		width: 70px;
		height: 70px;
		line-height: 71px;
		font-size: 35px;
		margin: 18px 0 18px;
	}
	.services-box .icon::before {
		width: 106px;
        height: 106px;
        top: -19px;
        left: -19px;
	}
	.services-box h3 {
		font-size: 19px;
	}
	
	.features-text {
		margin-top: 0;
	}
	.features-text h3 {
		font-size: 23px;
		margin-bottom: 18px;
		line-height: 1.3;
	}
	.features-text ul {
		margin: 20px 0 25px;
	}
	.features-text ul li {
		margin-bottom: 12px;
		padding-left: 29px;
		font-size: 14px;
	}
	.features-area .ptb-100 {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.features-area .img {
		margin-bottom: 35px;
	}
	.features-text {
		margin-top: 0;
		margin-bottom: 40px;
	}
	
	.features-area-two {
		padding-bottom: 25px;
	}
	.single-features {
		margin-bottom: 30px;
	}
	.single-features i {
		width: 70px;
		height: 70px;
		font-size: 30px;
		line-height: 72px;
	}
	.single-features h3 {
		font-size: 19px;
	}
	
	.features-area-three {
		padding-bottom: 25px;
	}
	
	.check-your-website .text h3 {
		font-size: 23px;
		margin-bottom: 15px;
	}
	.check-your-website .text p {
		font-size: 15px;
	}
	.check-your-website .text .form-control {
		border-radius: 40px;
		height: 50px;
		margin-bottom: 15px;
	}
	.check-your-website .text .btn {
		margin-top: 0;
		padding: 15px 40px;
		display: block;
		width: 100%;
	}
	
	.box {
		height: 90px;
	}
	.box span {
		font-size: 85px;
	}
	.box h3 {
		font-size: 15px;
		line-height: 24px;
	}
	
	.features-box {
		margin-bottom: 30px;
		padding-left: 70px;
	}
	.features-box i {
		width: 50px;
		height: 50px;
		font-size: 26px;
		line-height: 53px;
	}
	.features-box h3 {
		font-size: 19px;
		line-height: 22px;
		margin-bottom: 15px;
	}
	.features-box p {
		margin-bottom: 10px;
	}
	
	.working-process-area {
		padding-bottom: 25px;
	}
	.single-work-process {
		padding: 15px;
		margin-bottom: 30px;
	}
	.single-work-process::before {
		display: none;
	}
	.single-work-process h3 {
		font-size: 19px;
		margin-top: 25px;
	}
	.single-work-process .icon {
		width: 70px;
		height: 70px;
		font-size: 35px;
		line-height: 74px;
	}
	
	.analysis-form {
		padding: 15px;
	}
	.analysis-form h3 {
		font-size: 20px;
		margin-bottom: 25px;
	}
	.analysis-form form .btn {
		padding: 11px 40px;
	}
	.analysis-text {
		margin-top: 40px;
	}
	.analysis-text span {
		font-size: 15px;
	}
	.analysis-text h3 {
		font-size: 22px;
		margin: 15px 0 15px;
		line-height: 31px;
	}
	.analysis-text ul li {
		font-size: 14px;
	}
	
	.shorting-menu {
		display: block;
		padding: 10px 10px 5px;
		margin-bottom: 35px;
		border-radius: 5px;
		text-align: center;
	}
	.shorting-menu .filter {
		font-size: 14px;
		margin-bottom: 5px;
	}
	.single-work {
		margin-top: 5px;
	}
	.single-work .work-content h4 {
		font-size: 19px;
		margin-bottom: 8px;
	}
	.single-work .work-content ul li {
		font-size: 14px;
	}
	.single-work .popup-btn, .single-work .link-btn {
		right: 20px;
		width: 35px;
		height: 35px;
		line-height: 35px;
		font-size: 15px;
	}
	.single-work:hover .popup-btn, .single-work:hover .link-btn {
		top: 20px;
	}
	.single-work:hover .link-btn {
		left: 20px;
	}
	
	.single-feedback {
		padding: 20px 15px;
		margin-top: 24px;
	}
	.single-feedback .client-info {
		padding-left: 117px;
		margin-bottom: 25px;
	}
	.single-feedback .client-info h4 {
		font-size: 19px;
	}
	.single-feedback .client-info span {
		font-size: 14px;
		margin-top: 8px;
	}
	.owl-theme .owl-dots {
		margin-top: 10px;
	}
	
	.team-area {
		padding-bottom: 25px;
    }
    .single-team {
        padding: 15px;
    }
	.single-team .team-content h3 {
		font-size: 19px;
	}
	.single-team .team-content span {
		font-size: 14px;
	}
	.single-team .team-content ul li a {
		font-size: 14px;
	}
	
	.funfacts-area {
		padding-bottom: 25px;
	}
	.fun-fact {
		margin-bottom: 30px;
		padding-left: 55px;
	}
	.fun-fact i {
		font-size: 35px;
		top: 5px;
	}
	.fun-fact p {
		font-size: 15px;
	}
	.fun-fact h3 {
		font-size: 30px;
		margin-top: 10px;
		line-height: 26px;
	}
	
	.tab-slider-trigger {
		padding: 10px 25px;
		font-size: 14px;
	}
	.tab-slider-container .row {
		width: auto;
	}
	.tab-slider-nav {
		margin-bottom: 10px;
	}
	.pricingTable {
		padding-bottom: 25px;
		margin-top: 30px;
	}
	.pricingTable .pricingTable-header {
		padding: 25px 15px 35px;
		z-index: 1;
	}
	.pricingTable .pricingTable-header::before {
		z-index: -1;
	}
	.pricingTable .title {
		font-size: 19px;
	}
	.pricingTable .price-value {
		font-size: 30px;
		margin-bottom: 25px;
	}
	.pricingTable .price-value span {
		font-size: 13px;
		margin-left: -5px;
	}
	.pricingTable .pricing-content li {
		font-size: 14px;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	
	.pricing-plan {
		margin-top: 30px;
		padding-bottom: 25px;
	}
	.pricing-plan h3 {
		font-size: 19px;
		padding-top: 25px;
	}
	.pricing-plan h3 span {
		height: 85px;
		width: 85px;
		margin: 20px auto -65px;
		line-height: 90px;
		font-size: 25px;
	}
	.pricing-plan ul {
		margin: 70px 0 25px;
	}
	.pricing-plan li {
		padding: 10px 0;
		font-size: 14px;
	}
	.pricing-plan#most-popular {
		top: 0;
		padding: 25px 0 25px;
	}
	
	.single-blog-item span {
		font-size: 14px;
	}
	.single-blog-item h4 {
		font-size: 19px;
	}
	
	.newsletter {
		max-width: 100%;
		padding: 20px 15px;
		border-radius: 5px;
	}
	.newsletter form .form-control {
		height: 70px;
		border-radius: 5px;
		padding-left: 18px;
		font-size: 16px;
	}
	.newsletter h4 {
		margin-bottom: 25px;
		font-size: 23px;
	}
	.newsletter form .btn {
		position: relative;
		right: 0;
		top: 0;
		height: 55px;
		width: 100%;
		margin-top: 10px;
	}
	
	.timeline::before {
		left: 10px;
	}
    .timeline > li {
		margin-bottom: 0;
		position: relative;
		width: 100%;
		float: left;
		clear: left;
	}
    .timeline > li > .timeline-panel {
		width: calc(100% - 50px);
		width: -moz-calc(100% - 50px);
		width: -webkit-calc(100% - 50px);
	}
    .timeline > li > .timeline-badge {
		left: -2px;
		margin-left: 0;
		top: 25px;
	}
    .timeline > li > .timeline-panel {
		float: right;
		padding: 20px 15px;
		text-align: left;
	}
	.timeline-heading h4 {
		font-size: 19px;
	}
	.timeline-body > p {
		font-size: 14px;
		margin-bottom: 40px;
	}
	.timeline > li.timeline-inverted .timeline-footer {
		text-align: right;
	}
    .timeline > li > .timeline-panel::before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}
    .timeline > li > .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
		left: -2px;
	}
	
	.blog-area .section-title {
		z-index: 1;
    }
    .single-blog-item {
        padding: 15px;
    }
	.single-blog-post .blog-post-content {
		padding: 15px;
	}
	.single-blog-post .blog-post-content span {
		font-size: 14px;
	}
	.single-blog-post .blog-post-content h4 {
		font-size: 19px;
	}
	
	.blog-details .date {
		padding: 9px 19px;
		font-size: 19px;
	}
	.blog-details-heading h3 {
		font-size: 19px;
		line-height: 26px;
	}
	.blog-details-content p {
		font-size: 14px;
	}
	.blog-details-content .blockquote {
		padding: 20px;
	}
	.blog-details-content .blockquote p {
		font-size: 16px;
	}
	.blog-details-content .blockquote .blockquote-footer {
		font-size: 16px;
	}
	.blog-details-meta ul .title {
		font-size: 16px;
	}
	.blog-details-meta .tags li a {
		padding: 4px 13px;
		font-size: 14px;
	}
	.blog-details-meta .share {
		float: none;
		margin-top: 20px;
	}
	.blog-details-meta .share li a {
		width: 30px;
		font-size: 14px;
		height: 30px;
		line-height: 30px;
	}
	.blog-details-content .title {
		font-size: 19px;
		margin-bottom: 30px;
	}
	.blog-details-comments .single-comments {
		padding-left: 120px;
	}
	.single-comments.left-mr {
		margin-left: 20px;
		margin-top: 35px;
	}
	.blog-details-comments .single-comments .content h4 {
		font-size: 17px;
	}
	.blog-details-comments .single-comments .content span {
		font-size: 14px;
		margin: 8px 0 15px;
	}
	.blog-details-comments-form .btn {
		margin-top: 10px;
	}
	
	.contact-box {
		padding: 20px 15px 20px 80px;
		margin-bottom: 30px;
	}
	.contact-box .icon {
		left: 15px;
		top: 20px;
		width: 45px;
		height: 45px;
		line-height: 44px;
		font-size: 20px;
	}
	.contact-box .content h4 {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.contact-box .content p {
		font-size: 14px;
	}
	.contact-text h3 {
		font-size: 19px;
	}
	#map {
		margin-top: 0;
		margin-bottom: 30px;
	}
	.contact-text .social-links {
		margin-bottom: 30px;
	}
	#contactForm .btn {
		padding: 13px 40px;
		font-size: 13px;
	}
	
	.accordion .accordion-title {
		padding: 10px 15px;
		border-radius: 5px;
		font-size: 14px;
	}
	
	.error {
		max-width: 100%;
	}
	.error h1 {
		font-size: 130px;
	}
	.error p {
		font-size: 18px;
		margin-top: 15px;
		margin-bottom: 25px;
	}
	
	.project-details h3 {
		font-size: 19px;
	}
	.project-details p {
		font-size: 14px;
	}
	.project-details .features {
		margin-top: 25px;
	}
	.project-details ul.features li {
		margin-bottom: 12px;
		padding-left: 24px;
		font-size: 14px;
	}
	.project-info {
		margin-top: 30px;
	}
	.project-info ul li i {
		font-size: 25px;
	}
	.project-info ul li {
		padding-left: 40px;
		margin-bottom: 15px;
		font-size: 14px;
	}
	.project-info ul li span {
		font-size: 17px;
	}
	
	.pagination-area {
		margin-top: 25px;
	}
	.page-link {
		padding: 10px 18px;
		font-size: 14px;
	}
	
	.side-bar {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.side-bar .widget-box {
		padding: 25px 20px;
	}
	.side-bar .widget-box .title {
		font-size: 19px;
		margin-bottom: 30px;
	}
	.side-bar .categories-box ul li a {
		margin-bottom: 12px;
		font-size: 14px;
	}
	.side-bar .tags-box ul li a {
		padding: 4px 14px;
		font-size: 14px;
	}
	.side-bar .tags-box .title {
		margin-bottom: 24px;
	}
	.recent-post-desc {
		margin-top: -5px;
	}
	
	.footer-area {
		padding-top: 55px;
	}
	.single-footer-widget .logo a {
		font-size: 25px;
	}
	.single-footer-widget {
		margin-bottom: 30px;
	}
	.single-footer-widget h3 {
		font-size: 19px;
		margin-bottom: 25px;
	}
	.single-footer-widget .services-list li a {
		margin-bottom: 12px;
		font-size: 14px;
	}
	.single-footer-widget .usefull-links li a {
		margin-bottom: 10px;
		font-size: 14px;
	}
	.single-footer-widget .contact-list li {
		margin-bottom: 10px;
		font-size: 14px;
	}
	.copyright-area {
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-top: 25px;
	}
	.copyright-area ul li a {
		font-size: 14px;
	}
	.copyright-area .text-right {
		text-align: center !important;
		margin-top: 15px;
	}
	
	.go-top {
		bottom: 20px;
		font-size: 20px;
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
	.ptb-100 {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.section-title .read-more-btn {
		display: none;
	}

	.header-area .header-info li:last-child {
		display: none;
	}
	
	.navbar .row {
		width: 102%;
	}
	
	.main-banner {
		height: 100%;
		padding-top: 110px;
		padding-bottom: 110px;
	}
	.hero-image {
		display: none;
	}
	.hero-content h1 {
		font-size: 45px;
		line-height: 1.3;
	}
	.hero-content p {
		font-size: 17px;
	}
	
	.circle-pattern-2 {
		display: none;
	}
	
	.main-banner-two {
		height: 100%;
		padding-top: 110px;
		padding-bottom: 110px;
	}
	.main-banner-two .hero-content {
		margin-top: 50px;
	}
	.main-banner-two .banner-image {
		margin-top: 0;
	}
	.banner-image img {
		width: 60% !important;
	}
	
	.main-banner-three {
		height: 100%;
		padding-top: 110px;
		padding-bottom: 110px;
	}
	.main-banner-three .banner-image {
		margin-bottom: 40px;
	}
	
	.features-area-two {
		padding-bottom: 50px;
	}
	.single-features {
		margin-bottom: 30px;
	}
	
	.features-area-three {
		padding-bottom: 35px;
	}
	
	.main-banner-four {
		padding-top: 110px;
		padding-bottom: 110px;
		height: 100%;
	}
	.main-banner-four .banner-image {
		margin-bottom: 40px;
	}

	.features-text {
		margin-top: 0;
		position: relative;
		z-index: 1;
	}
	.features-text h3 {
		font-size: 25px;
		line-height: 34px;
	}
	.features-text ul li {
		font-size: 15px;
	}
	.features-area .img {
		position: relative;
		z-index: 1;
		margin-top: 60px;
	}
	
	.single-work-process::before {
		display: none;
	}
	.single-work-process .icon {
		width: 65px;
		height: 65px;
		font-size: 30px;
		line-height: 70px;
	}
	.single-work-process h3 {
		font-size: 20px;
	}
	
	.team-area {
		padding-bottom: 50px;
	}
	
	.services-area {
		padding-bottom: 50px;
	}
	
	.single-box {
		margin-bottom: 30px;
	}
	.about-image {
		margin-top: 40px;
	}
	.about-text {
		margin-top: 50px;
		padding-left: 0;
		position: relative;
		z-index: 1;
	}
	
	.analysis-text {
		margin-top: 40px;
	}
	
	.funfacts-area {
		padding-bottom: 40px;
	}
	.fun-fact {
		margin-bottom: 40px;
	}
	
	.pricingTable {
		margin-top: 30px;
	}
	.tab-slider-nav {
		margin-bottom: 10px;
		position: relative;
		z-index: 1;
	}
	
	.timeline > li > .timeline-badge {
		right: -26px;
	}
	.timeline > li.timeline-inverted > .timeline-badge {
		left: -26px;
	}
	
	.pricing-plan {
		margin-top: 30px;
	}
	.pricing-plan#most-popular {
		top: 0;
		padding: 0 0 20px;
		z-index: 2;
	}
	.pricing-plan#most-popular h3 {
		margin-top: 0;
		padding-top: 20px;
	}
	
	.side-bar {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	
	.footer-area {
		padding-top: 80px;
	}
	.single-footer-widget {
		margin-bottom: 30px;
	}
	.copyright-area {
		margin-top: 50px;
	}
	.copyright-area ul li a {
		font-size: 15px;
	}
	.copyright-area p {
		font-size: 15px;
	}
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
	.navbar .col-lg-8 {
		-ms-flex: 0 0 80%;
		flex: 0 0 80%;
		max-width: 80%;
	}
	.navbar .col-lg-4 {
		-ms-fles: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	.navbar-right-side .lang {
		display: none;
	}
	.navbar-right-side h5 {
		display: none;
	}
	
	.main-banner-three .hero-content {
		margin-top: 0;
	}
	
	.main-banner-four .hero-content {
		margin-top: 0;
	}
	
	.main-banner-two .hero-content {
		margin-top: 70px;
	}
	.hero-image {
		right: -195px;
		bottom: 30px;
		width: 660px;
	}
	.hero-content h1 {
		font-size: 50px;
	}
	
	.services-box h3 {
		font-size: 21px;
	}
	
	.single-services h3 {
		font-size: 21px;
	}
	
	.circle-pattern-2 {
		display: none;
	}
	
	.about-text {
		margin-top: 80px;
		padding-left: 0;
		position: relative;
		z-index: 1;
	}
	
	.features-area .about-text {
		margin-top: 0;
	}
	
	.features-box h3 {
		line-height: 28px;
	}
	
	.contact-box {
		padding: 20px 20px 20px 80px;
	}
	.contact-box .icon {
		left: 15px;
	}
	
	.box h3 {
		font-size: 20px;
		line-height: 28px;
	}
	
	.timeline > li > .timeline-badge {
		right: -31px;
	}
	.timeline > li.timeline-inverted > .timeline-badge {
		left: -31px;
	}
}